@font-face {
  font-family: 'Neue Haas Grotesk';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/NeueHaasDisplay-Roman.woff") format("woff");
}
@font-face {
  font-family: "Neue Haas Grotesk";
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/NeueHaasDisplay-RomanItalic.woff") format("woff");
}

@font-face {
  font-family: "Neue Haas Grotesk";
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/NeueHaasDisplay-Medium.woff") format("woff");
}
@font-face {
  font-family: "Neue Haas Grotesk";
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/NeueHaasDisplay-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Neue Haas Grotesk";
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/NeueHaasDisplay-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Neue Haas Grotesk';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/NeueHaasDisplay-BoldItalic.woff") format("woff");
}
